*.pyc
*~
__pycache__
venv
venv3.8
venv3.80
/EcoApp/db.sqlite3
/static
.DS_Store
/EcoApp/Products/
/EcoApp/Users/
/EcoApp/media/
/EcoApp/ecoapp-secret.json
/EcoApp/secrets.json
/EcoApp/EcoApp/cor/migrations/
